@tailwind base;
@tailwind components;
@tailwind utilities;

/* ajustes globais */
html, body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  background-color: #f9fafb; /* cinza-claro padrão */
  color: #111827;            /* texto padrão */
  font-family: system-ui, sans-serif;
}
